<footer class="footer">

  <a href="/feed.xml">
    <img style="vertical-align:middle" src="/images/rss.png" width="20" height="20">
    <span style="line-height:20px;">FEED</span>
  </a>

  <div class="footer__credit">
    <div>

      <p>
        {% if site.footer.custom != false %}
          <small>{{ site.footer_custom }}</small>
        {% else %}
          <small>Copyright © {{ "now" | date: "%Y" }} {{ site.title }}.</small>
        {% endif %}
      </p>
    </div>
    {% if site.layout.theme_switch != false %}
      {% include appearance.html %}
    {% endif %}

  </div>

</footer>