<footer class="footer">


  <div class="footer__credit">
    <div>

      <p>
        {% if site.footer.custom != false %}
          <small>{{ site.footer_custom }}</small>
        {% else %}
          <small>Copyright © {{ "now" | date: "%Y" }} {{ site.title }}.</small>
        {% endif %}
      </p>
    </div>
    {% if site.layout.theme_switch != false %}
      {% include appearance.html %}
    {% endif %}

  </div>

  <a href="/feed.xml"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> Feed</a>

</footer>