<div class="sharebuttons">
    <hr />
    <ul>
        <li>
            <p class="sharetitle"> Share this: </p>
        </li>

        <li class="facebook">
            <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}">
                {% include social/fb.svg %}
            </a>
        </li>

        <li class="reddit">
            <a  href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}">
                {% include social/reddit.svg %}
            </a>
        </li>
        <li class="twitter">
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}">
                {% include social/twitter.svg %}
            </a>
        </li>

        <li class="linkedin">
            <a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}">
                {% include social/lin.svg %}
            </a>
        </li>
    </ul>
</div>