<div class="sharebuttons">
    <hr />
    <ul>
        <li>
            <p class="sharetitle"> Share this: </p>
        </li>
        <li class="reddit">
            <a  href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;">
                {% include social/reddit.svg %}
            </a>
        </li>
        <li class="twitter">
            <a  href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;">
            {% include social/twitter.svg %}
            </a>
        </li>
        <!--     <li class="facebook">
              <a href="http://www.facebook.com/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&t={{ page.title | default:"" | uri_escape}}" target="_blank" onclick="trackOutboundLink('http://www.reddit.com/submit?url={{ page.url }}');">
                {% include social/sfb.svg %}
              </a>
            </li> -->
        <li class="linkedin">
            <a  href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;">
            {% include social/lin.svg %}
            </a>
        </li>
    </ul>
</div>